{% extends "layout.html" %} <!-- Extends the general layout scheme -->

<!-- Individual ability page -->
{% block content %}
    <div class="item-info-card draggable"> <!-- css and js for the draggable card -->
        <h1>{{ ability['name'] }}</h1>
    </div>

     <!-- Route to corresponding image -->
    <div class="item-info-card draggable">
        <img src="{{ url_for('static', filename='images/abilities/' + ability['media']) }}" alt="{{ ability['name'] }}">
    </div>

    <div class="item-info-card draggable">
        <p>Ability Type: {{ ability['type'] }}</p>
    </div>

    <div class="item-info-card draggable">
        <p>Proc Coefficient: {{ ability['proc coefficient'] }}</p>
    </div>

    <div class="item-info-card draggable">
        <p>Cooldown: {{ ability['cooldown'] }} seconds.</p>
    </div>

    <div class="item-info-card draggable">
        <p>{{ ability['description'] }}</p>
    </div>

{% endblock %}