{% extends "layout.html" %} <!-- extends the general layout scheme -->

<!-- Main ability page -->
{% block content %}
    <div class="pageheader">
        <h1>Abilities List</h1>
    </div>
    <!-- Repeat for each ability and list them out-->
    <div class="card-grid"> <!-- Grid style to keep cards inline -->
        {% for ability in abilities %}
            <a href="{{ url_for('abilities_info', name=ability['name'].lower()) }}" class="card-link">
                <div class="card">
                    <h2>{{ ability['name'] }}</h2>
                    <img src="{{ url_for('static', filename='images/abilities/' ~ ability['media']) }}" alt="{{ ability['name'] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}