{% extends "layout.html" %} <!-- extends the general layout scheme -->

<!-- Boss -->
{% block content %}
    <div class="item-info-card draggable">
        <h1>{{ boss['name'] }}</h1>
    </div>

    <div class="item-info-card draggable">
        <img src="{{ url_for('static', filename='images/bosses/' ~ boss['media']) }}" alt="{{ boss['name'] }}">
    </div>

    <div class="item-info-card draggable">
        <p>Boss health: {{ boss['health'] }} ( + {{ boss['health_scaling'] }} per level)</p>
    </div>

    <div class="item-info-card draggable">
        <p>Available maps:</p>
        <ul>
            {% for map in maps %}
            <li>
                <a href="{{ url_for('map_info', name=map['name'].lower()) }}">
                    {{ map['name'] }}
                </a>
            </li>
            {% else %}
                <li>No maps available</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}