{% extends "layout.html" %} <!-- extends the general layout scheme -->

<!-- Main home page -->
{% block content %}
    <div class="home">
        <p>Welcome to the Risk of Rain 2 database! Login or create an account to get started. Or just explore all the available stuff out there! :3</p>
        {% if session.get("loggedin", "no") == "no" %} <!-- Check login status and respond accordingly -->
            <p>You can login or create an account to search for items.</p>
        {% endif %}
        <p style="color: greenyellow">Click Below on the Links to Explore:</p>
        <div class ="homenav"> <!-- Different style navbar -->
            <a href="{{ url_for('characters') }}">Survivors</a>
            <a href="{{ url_for('items') }}">Items</a>
            <a href="{{ url_for('abilities') }}">Abilities</a>
            <a href="{{ url_for('maps') }}">Maps</a>
            <a href="{{ url_for('bosses') }}">Bosses</a>
            {% if session.get("loggedin") == "yes" %}
                <a href="{{ url_for('search') }}">Search</a>
            {% endif %}
        </div>
    </div>
{% endblock %}