{% extends "layout.html" %} <!-- Extends the general layout scheme -->

<!-- Main item list page -->
{% block content %}
    <div class="pageheader">
        <h1>Item List</h1>
    </div>
    <div class="card-grid">
        <!-- Repeat for each item and list them out-->
        {% for item in items %}
            <a href="{{ url_for('item_info', name=item['name'].lower()) }}" class="card-link">
                <div class="card">
                    <h2>{{ item['name'] }}</h2>
                    <img src="{{ url_for('static', filename='images/items/' ~ item['media']) }}" alt="{{ item['name'] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}


