<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk of Rain 2</title>
    <link rel="icon" type="image/x-icon" href="/static/images/logo/risk of rain 2 icon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header> {% include "header.html" %} </header>
    <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('characters') }}">Survivors</a>
        <a href="{{ url_for('items') }}">Items</a>
        <a href="{{ url_for('abilities') }}">Abilities</a>
        <a href="{{ url_for('maps') }}">Maps</a>
        <a href="{{ url_for('search') }}">Search</a>

        <div id="controls" style="display:none;">
            <button id="resetBtn" style="background-color: #1e1b2e;
            padding: 10px;
            margin-left: 560px;
            margin-top: 0px;
            display: flex;
            justify-self: right;
            font-family: 'Comic Sans MS', 'Comic Sans', cursive;
            width: fit-content;
            height: fit-content;
            box-sizing: border-box;">
                Shuffle Boxes
            </button>

            <button id="lineUpBtn" style="background-color: #1e1b2e;
            padding: 10px;
            margin-left: 20px;
            margin-top: 0px;
            display: flex;
            justify-self: right;
            font-family: 'Comic Sans MS', 'Comic Sans', cursive;
            width: fit-content;
            height: fit-content;
            box-sizing: border-box;">
                Align Boxes
            </button>
        </div>
        <div class="user-tab">
            {% if session.get('username') %}
                Logged in as <b>{{ session['username'] }}</b> | <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
    <script src="{{ url_for('static', filename='js/draggable.js') }}"></script>
</body>
</html>