{% extends "layout.html" %} <!-- extends the general layout scheme -->

<!-- Individual maps page -->
{% block content %}
    <div class="item-info-card draggable">
        <h1>{{ map['name'] }}</h1>
    </div>

    <div class="item-info-card draggable">
        <img src="{{ url_for('static', filename='images/maps/' + map['media']) }}" alt="{{ map['name'] }}">
    </div>

    <div class="item-info-card draggable">
        <p>This map can appear on stage {{ map['stage'] }}.</p>
    </div>

    <div class="item-info-card draggable">
        <p>{{ map['description'] }}</p>
    </div>

    <!-- Looping list for avaliabe bosses -->
    <div class="item-info-card draggable">
        <p>Available bosses:</p>
        <ul>
            {% for boss in bosses %}
                <li>
                    <a href="{{ url_for('boss_info', name=boss['name'].lower()) }}">
                        {{ boss['name'] }}
                    </a>
                </li>
            {% else %}
                <li>No bosses available</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}