{% extends "layout.html" %} <!-- extends the general layout scheme -->

<!-- Individial survivor information page -->
{% block content %}
    <div class="item-info-card draggable">
        <h1>{{ survivor['name'] }}</h1>
    </div>

    <div class="item-info-card draggable">
        <img src="{{ url_for('static', filename='images/survivors/' + survivor['media']) }}" alt="{{ survivor['name'] }}">
    </div>

    <div class="item-info-card draggable">
        <p>Health: {{ survivor['health'] }} ( + {{ survivor['health_scaling'] }} per level).</p>
    </div>

    <div class="item-info-card draggable">
        <p>Health Regeneration: {{ survivor['health_regeneration'] }} ( + {{ survivor['health_regen_scaling'] }} per level).</p>
    </div>

    <div class="item-info-card draggable">
        <p>Damage: {{ survivor['damage'] }} ( + {{ survivor['damage_scaling'] }} per level).</p>
    </div>

    <div class="item-info-card draggable">
        <a href="{{ url_for('survivorstory', name=survivor['name'].lower()) }}" style="color: green;">View Story</a>
    </div>

{% endblock %}