{% extends "layout.html" %} <!-- extends the general layout scheme -->

{% block content %}
    <div class="pageheader">
        <h1>Survivor List</h1>
    </div>
    <div class="card-grid">
        {% for survivor in survivors %}
            <a href="{{ url_for('survivor_info', name=survivor['name'].lower()) }}" class="card-link">
                <div class="card">
                    <h2>{{ survivor['name'] }}</h2>
                    <img src="{{ url_for('static', filename='images/survivors/' ~ survivor['media']) }}" alt="{{ survivor['name'] }}">
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
